@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.li-hover-animate {
  position: relative;
  overflow: hidden;
}

.li-hover-animate::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: theme("colors.text");
  /* background: linear-gradient(to right, var(--tw-gradient-stops)); */
  transition: width 0.25s ease-out;
  z-index: -1;
}

.li-hover-animate:hover::after {
  width: 100%;
}

.from-primary-to-accent {
  --tw-gradient-stops: theme("colors.primary"), theme("colors.accent");
}

body {
  position: relative;
}

:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
}

.track-pad {
  background: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      rgba(14, 52, 100, 0.5) 0%,
      rgba(14, 52, 100, 0.3) 50%,
      rgb(4, 14, 26) 100%
    )
    no-repeat;
}
