@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s ease forwards;
}

.slide-in {
  animation: slideIn 3s ease forwards 3s;
}

.text-transition {
  transition: opacity 3s ease, transform 10s ease;
}

.container {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 30px;
}

